---
import Layout from '../layouts/Layout.astro'

import '../styles/brand.scss'
---

<Layout
    title="Brand Assets"
    description="The brand guidelines for the ESU."
    image="https://cdn.esufranchise.com/press/hero.png"
>
    <div class="header">
        <h1>Brand Assets</h1>
        <p>The brand guidelines for the ESU.</p>
    </div>
    <main>
        <p>Coming soon.</p>
    </main>
</Layout>