---

import '../styles/footer.scss'

const currentYear = new Date().getFullYear()

---

<footer>
    <div class="logo-container">
        <img src="https://cdn.esufranchise.com/website/logo.svg" class="logo-img"/>
    </div>
    <div class="links">
        <a href="https://www.esufranchise.com/privacy">Privacy Policy</a>
        <a href="https://www.esufranchise.com/">ESU Franchise</a>
        <a href="https://books.lnp-group.com">LNP Books</a>
    </div>
    <div class="copyright">
        <p>&copy; { currentYear } ESU Franchise. All rights reserved.</p>
    </div>
</footer>